@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Supermercado+One&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark,
    cupcake;
}

@theme {
  --font-OpenSans: "Open Sans", sans-serif;
  --font-supermercadoone: "Supermercado One", sans-serif;
}

body {
  font-family: var(--font-OpenSans);
}
